/*---------------------------------------------------------  Start Variables */
:root {
  --Violet: hsl(257, 40%, 39%);
  --Soft-Magneta: hsl(300, 69%, 71%);
}
/*-----------------------------------------------------------  End Variables */
/*------------------------------------------------------  Start Global Rules */
-webkit-box-sizing: border-box;
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  transition: 0.5s;
}
body {
  background-image: url(../images/bg-desktop.svg);
  background-size: cover;
  background-color: var(--Violet);
  font-family: "Open Sans", sans-serif;
  /* 400 - Body */
  font-family: "Poppins", sans-serif;
  /* 400 - 600 - Headings */
  display: grid;
  align-items: center;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*--------------------------------------------------------  End Global Rules */
/*--------------------------------------------------------------  Start Code */
.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container img {
  margin-bottom: 60px;
}
@media (max-width: 425px) {
  .container img {
    width: 150px;
    margin-left: 40px;
  }
}
.container .box {
  display: grid;
  grid-template-columns: auto 600px;
  gap: 50px;
}
@media (max-width: 425px) {
  .container .box {
    grid-template-columns: auto;
    gap: 0;
  }
}
.box .left img {
  width: 900px;
}
@media (max-width: 425px) {
  .box .left img {
    width: 300px;
  }
}
.box .right {
  margin-top: 40px;
}
@media (max-width: 425px) {
  .box .right {
    margin-top: 0;
    text-align: center;
  }
}
.box .right .content {
}
@media (max-width: 425px) {
  .box .right .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.right .content h1 {
  color: white;
  margin-right: 170px;
  line-height: 1.5;
}
.right .content p {
  color: white;
  margin-right: 100px;
  line-height: 1.5;
}
@media (max-width: 425px) {
  .right .content h1,
  .right .content p {
    margin-right: 0;
  }
  .right .content h1 {
    font-size: 28px;
  }
  .right .content p {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    color: #d7d6d6;
    margin-right: 19px;
    margin-left: 19px;
  }
}
.right .content button {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  border-style: hidden;
  box-shadow: 0px 5px 10px -3px black;
  margin-top: 10px;
}
@media (max-width: 425px) {
  .right .content button {
    width: 250px;
  }
}
.right .content button:hover {
  background-color: var(--Soft-Magneta);
  color: white;
  cursor: pointer;
}
.container .social {
  align-self: flex-end;
}
@media (max-width: 425px) {
  .container .social {
    margin-top: 50px;
    margin-left: 20px;
    align-self: center;
  }
}
.container .social i {
  margin-right: 15px;
  color: white;
  min-width: 15px;
  min-height: 15px;
  border: 1px solid white;
  border-radius: 50%;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.container .social i:first-child {
  padding-left: 13px;
  padding-right: 8px;
}
.container .social i:last-child {
  padding-left: 12px;
}
.container .social i:hover {
  color: #fa54c2;
  border-color: #fa54c2;
  cursor: pointer;
}
/*----------------------------------------------------------------  End Code */
